:root {
	--interface-color: #5e06eb;
	--interface-color-hover: #90a0c9;
	--font-color: #ebc502;
	--button-border-color: #6b6337;
	--button-background-color: #6b6337;
	--border-color: #646cff
	--background-color: #4a376b;
	--background-color-10: #6e2dd7;
	--background-color-20: #aec3fc;
	--background-color-30: #cdd9faa4;
	--icons-default-color: #6b6337;
	--black-color: #000000;
	--light-grey-color: #eeeeee;
	--font-color-black: #040404;
	--highlight-li: #5c03eb99;
	--plus-color: #aec3fc;
	--disabled-plus-color: #ebc502;
	--minus-color: #6b6337;
	--disabled-minus-color: #4a376b;
	--box-shadow-color: #0000008f;
	--scroll-color: #dddddd;
	--warning-color: #9b2626;
	--transition-time-1s: 1s;
}
