:root {
	--interface-color: #5e06eb;
	--interface-color-hover: #90a0c9;
	--font-color: #ebc502;
	--button-border-color: #6b6337;
	--background-color: #4a376b;
	--background-color-10: #5a02eb;
	--background-color-20: #aec3fc;
	--background-color-30: #cdd9faa4;
	--icons-default-color: #6b6337;
	--black-color: #000000;
	--light-grey-color: #eeeeee;
	--font-color-black: #040404;
	--highlight-li: rgba(90, 2, 235, 0.6);
	--plus-color: rgba(174, 195, 252, 1);
	--disabled-plus-color: rgba(235, 197, 2, 1);
	--minus-color: rgba(107, 99, 55, 1);
	--disabled-minus-color: rgba(74, 55, 107, 1);
	--box-shadow-color: rgba(0, 0, 0, 0.56);
	--scroll-color: #dddddd;
	--transition-time-1s: 1s;
}
