.container {
	margin: 0 auto;
	background-color: #aec3fc;
	width: 640px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
}

.header {
	margin-left: 5%;
	justify-self: left;
	color: #9892fc;
	font-size: 24px;
}
.header:hover {
	transform: scale(1.1);
}

.searchbar {
	height: 60%;
	width: 200px;
	border-radius: 5px;
	border: none;
	padding: auto;
}

.hiddenSearchbar {
	display: none;
}

button {
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-self: right;
}

.icon {
	width: 30px;
}

.button:hover .icon {
	transform: scale(1.2);
}

.iconContainer {
	position: relative;
	height: 70%;
	display: flex;
}
