.userItem {
	min-width: 720px;
	min-height: 75vh;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.leftBlock,
.rightBlock {
	border: 2px solid var(--light-grey-color);
	padding: 20px;
	margin: 20px;
	width: 270px;
	box-shadow: 0 4px 6px var(--box-shadow-color);
	background-color: var(--plus-color);
	border-radius: 8px;
}

.userInfo {
	margin-bottom: 20px;
}

.avatar {
	width: 100%;
	display: flex;
	justify-content: center;
}

.avatar img {
	max-width: 100%;
	height: auto;
	border-radius: 20px;
}

.button {
	margin: 10px auto;
	width: 75%;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--interface-color);
	font-size: 16px;
	transition: background-color 0.3s ease;
	color: var(--font-color);
}

.button:hover {
	cursor: pointer;
	background-color: var(--background-color-10);
}
