:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	padding: 2rem;
	text-align: center;
}

a {
	font-weight: 500;
	text-decoration: none;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	min-width: 970px;
	background: linear-gradient(195deg, #d6d5d5, #bcbcbc, #c0c0c0, #a6a6a6, #8c8c8c, #797979);
}

a {
	font-weight: 500;
	text-decoration: none;
}

button {
	font-weight: 500;
	font-family: inherit;
}
