.form {
	position: absolute;
	width: 325px;
	height: auto;
	padding: 20px;
	border-radius: 10px;
	background-color: var(--background-color-20);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 20px;
}

.button {
	width: 20%;
	font-size: 14px;
	white-space: nowrap;
	padding: 5px 30px;
	background-color: var(--button-border-color);
	color: var(--font-color);
}

.button:hover {
	opacity: 0.8;
}

.warning {
	color: var(--button-border-color);
	font-size: 12px;
}

.error::first-letter {
	text-transform: capitalize;
}

.blockButton {
	display: flex;
	justify-content: center;
	gap: 10px;
}
